.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#image {
  max-width: 100%;
  max-height: 300px;
}

body {
  background: #f5f6f7;
  color: #1b1b32;
  font-family: Helvetica;
  margin: 0;
}

#title {
  font-weight: bold;
  color: blue;
  font-size: min(5vw, 1.2em);
  text-align: center;
}

main {
  padding-top: 50px;
}
p {
  margin-top: 5px;
  padding-left: 15px;
  font-size: 20px;
}
div {
  width: 80%;
  margin: 0 auto 10px auto;
  max-width: 600px;
}

#img-caption,
.w {
  text-align: center;
  color: red;
}
